doctype html
html
	head
		include head
		title Rubycoin Webminer - Mining Cryptocurrency For Everyone
	body.unsupported
		#intro.page.intro: .inner
			h2 Cryptocurrency For Everyone
			h1.color Rubycoin Webminer
			#navigation: #nav-float
				a(href='#getstarted') Crypto-What?
				a(href='#howitworks') How It Works
				a(href='#yougotcoins') Your Rubycoins
		#getstarted.page.cryptowat: .inner
			h1 Crypto-What?
			p Rubycoin is a cryptocurrency, a totally digital economy based on decentralization of services. Safe and new way to pay.
			.columns-3.resizable
				.column-1: .sides
					h3 Everyone
					p It means you can send money to friends and family, pay for products, and anything else. All nearly instantly, and all securely.
				.column-2: .sides
					h3 Merchants
					p You have a new way to accept payments with zero fees for you and no waiting for payment processors.
				.column-3: .sides
					h3 Charities
					p Accept donations from anywhere in the world and in any amount, so you can get money to those who need it.
		#howitworks.page.howitworks: .inner
			h1 How It Works
			.columns-3.resizable
				.column-1: .sides
					h3 Network
					p The Rubycoin network is made up of thousands of computers and mining rigs connected via the internet. They each have a copy of every transaction that has ever taken place. This complete record allows them to make sure every new transaction is valid, and keeps everyone safe.
				.column-2: .sides
					h3 Cryptography
					p It's the backbone of cryptocurrencies. Various algorithms are used in every transaction to make sure coins are going to the right place, and coming from the right people using a decentralized system.
				.column-3: .sides
					h3 Mining / Digging
					p Keeping the network safe takes a lot of computing power, but is obviously very important. So people have their computers mine. They occasionally get a Rubycoin reward, and you get a fast and secure network.
		#yougotcoins.page.withdraw: .inner
			h1 Your Rubycoins
			p.unsupported On many computers, this page actually allows people to mine Rubycoins right in their browser! It looks like yours is unsupported though. Or maybe you've disabled JavaScript?
			p.optional Want to get a taste of cryptocurrencies? You can actually mine yourself some Rubycoins by clicking <em>Dig</em>!
			p.auto Since you arrived on this page, your computer has been mining, and you've earned some Rubycoins!
			
			.auto.optional
				.columns-2
					.column-1.info
						#rate-block
							strong -
							| Not Mining
						button#mining-toggle-btn.button Loading...
					.column-2.info
						#balance-block
							strong -
							| Rubycoins
						button#withdraw-btn.button(onclick='withdraw()') Withdraw
				
				form#email-form
					span Mining For
					.box: input(type='email', placeholder='Your Email', value='#{email}')
					.box: input(type='submit', value='Save')
		#footer.page.color: .inner
			include footer
		#pnacl-block
		script(type='text/javascript', src='/public/main.js?#{public_version}')
